<div class="row">
    <div class="col-xs-12">
        <h3>{{ contact.name }}</h3>
        <div class="pull-left">
            {{ contact.imageUrl }}
        </div>
        <span class="pull-right">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- <p>Email: {{ contact.email }}</p>
        <p>Phone: {{ contact.phone }}</p> -->
        <h5>Email: </h5>
        <h5>Phone: </h5>
    </div>
</div>