<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        href="#"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- router-outlet here will allow loading the child components/routes. -->
    <!-- Without the leading /, it's a relative path. With the leading /, it's an absolute path. -->
    <!-- Having ./ is the same as having nothing at the beginning. -->
    <!-- Starting with ../ goes up one level, then tries to load the path. -->
    <!-- <a routerLink="servers">Reload Page</a> -->
    <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

