<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/favicons/icons8-year-of-dragon-ios-17-filled-16.png">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="https://github.com/BEHeder/BEHeder.github.io">GitHub</a>
      <hr>
    </nav>
    <h1><img src="/favicons/icons8-year-of-dragon-ios-17-filled-32.png">{{ page.title }}</h1>
    <hr>
    <section>
      {{ content }}
    </section>
    <footer>
      <hr>
      <a target="_blank" href="https://icons8.com/icon/10000/year-of-dragon">Year of Dragon</a> icon by 
      <a target="_blank" href="https://icons8.com">Icons8</a>
    </footer>
  </body>
</html>
